@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}