@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background: #f9f9ff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}